# app/views/images/index.html.erb
<h1>images</h1>
<% @images.each do |image| %>
  <%= tag.section class: 'my-5', data: { controller: "images" } do %>
  <%= image_tag image.url, class: 'img-thumbnail rounded d-block',
    alt: image.title, data: { 'action': 'click->images#getUrl' } %>

  <p><%= image.title %></p>
  <% end %>
<% end%>
